<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>邮件通知</title>
		<!--引入vue-->
		<script src="/js/v2.6.10/vue.js" type="text/javascript" charset="utf-8"></script>>
		<!-- Bootstrap引入一个外部样式文件 -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	    
		<style type="text/css">
		.biaoti{
			color: black;
			width: 150px;
			height: 10px;
			margin: 50px auto 20px auto;
		}
		.scrollable-table-container {
		  max-height: 300px;
		  overflow-y: auto;  
		  border: 1px solid #ddd; 
		  margin: 5px 80px 10px 90px;
		}
		.image-center {  
		    text-align: center;
		}  
		
		.modal {
		    display: block;   
		    position: fixed;   
		    z-index: 1;   
		    left: 10px;
		    top: 0;  
		    width: 100%;   
		    height: 100%;   
		    overflow: auto;   
		    background-color: rgb(0,0,0);   
		    background-color: rgba(0,0,0,0.4);  
		}  
				  
		.modal-content {  
			margin: 10% auto;
			border: 2px solid #888;
		    background-color: #fefefe;   
		    padding: 50px;   
		    width: 30%;   
		}  
				  
		.close {  
		    color:black; 
		    float: right;  
		    font-size: 30px;  
		    font-weight: bold;  
		}  
				  
		.close:hover,  
		.close:focus {  
		    color: red;  
		    text-decoration: none;  
		    cursor: pointer;  
		}
		.textarea-container {  
		    display: flex;  
		    justify-content: center; 
		    align-items: center;
		    height: 210px; 
		    flex-direction: column; 
		}  
		textarea {  
		    width: 120%;  
		    height: 200px;  
		    padding: 10px;   
		    box-sizing: border-box; 
		    border: 1px solid #ccc;
		    border-radius: 4px; 
		}  
		#aa {
		    text-align: right;
		}  
		</style>
		
	</head>
	
	
	
	
	
	<body>
		<h3 class="biaoti">未注册账号</h3>
		<div>
		<div class="col-xs-1 col-md-1"></div>
		<div class="col-xs-2 col-md-2">以下是未注册人员：</div>
		<div class="col-xs-6 col-md-6"></div>
		<div class="col-xs-3 col-md-3" id="a1">
		<button type="button" class="btn btn-primary" @click="dianji()">一键发送邮件</button>
		</div>
		</div>
		<script type="text/javascript">
			var vm=new Vue({
				el: "#a1",
				data:{
				},
				methods:{
					dianji:function(){
						alert("邮件发送成功,已通知未注册账号人员~~");
					}
				}
			});
		</script>
		<div class="scrollable-table-container">
		<table class="table table-bordered">
		     <tr>
		         <th>姓名</th>
		         <th>学号</th>
				 <th>邮箱</th>
		     </tr>
		     <tr>
		         <td>老王</td>
				 <td>20252656</td>
				 <td>202526563532@qq.com</td>
		     </tr>
		     <tr>
		         <td>张三</td>
		         <td>12345454</td>
				 <td>123454547676@qq.com</td>
		     </tr>
		</table>
		</div>
		<div class="image-center">  
		    <img src="/imges/1.png" style="width: 800px; height: 90px;">
		</div>
		
		
		
		<h3 class="biaoti">信息不完善</h3>
		<div>
		<div class="col-xs-1 col-md-1"></div>
		<div class="col-xs-3 col-md-3">以下是信息不完善人员：</div>
		<div class="col-xs-5 col-md-5"></div>
		<div class="col-xs-3 col-md-3" id="a2">
		<button type="button" class="btn btn-primary" @click="dianji()">一键发送邮件</button>
		</div>
		</div>
		<script type="text/javascript">
			var vm=new Vue({
				el: "#a2",
				data:{
				},
				methods:{
					dianji:function(){
						alert("邮件发送成功,已通知信息不完善人员~~");
					}
				}
			});
		</script>
		<div class="scrollable-table-container">
		<table class="table table-bordered">
		     <tr>
		         <th>姓名</th>
		         <th>学号</th>
				 <th>邮箱</th>
		     </tr>
		     <tr>
		         <td>老王</td>
				 <td>20252656</td>
				 <td>202526563532@qq.com</td>
		     </tr>
		     <tr>
		         <td>张三</td>
		         <td>12345454</td>
				 <td>123454547676@qq.com</td>
		     </tr>
		</table>
		</div>
		<div class="image-center">
		    <img src="/imges/1.png" style="width: 800px; height: 90px;">
		</div>
		
		
		<h3 class="biaoti">未选课</h3>
        <div>
		<div class="col-xs-1 col-md-1"></div>
		<div class="col-xs-2 col-md-2">以下是未选课人员：</div>
		<div class="col-xs-6 col-md-6"></div>
		<div class="col-xs-3 col-md-3" id="a3">
		<button type="button" class="btn btn-primary" @click="dianji()">一键发送邮件</button>
		</div>
		</div>
		<script type="text/javascript">
			var vm=new Vue({
				el: "#a3",
				data:{
				},
				methods:{
					dianji:function(){
						alert("邮件发送成功,已通知未选课人员~~");
					}
				}
			});
		</script>
		<div class="scrollable-table-container">
		<table class="table table-bordered">
		     <tr>
		         <th>姓名</th>
		         <th>学号</th>
				 <th>邮箱</th>
		     </tr>
		     <tr>
		         <td>老王</td>
				 <td>20252656</td>
				 <td>202526563532@qq.com</td>
		     </tr>
		     <tr>
		         <td>张三</td>
		         <td>12345454</td>
				 <td>123454547676@qq.com</td>
		     </tr>
		</table>
		</div>
		<div class="image-center">
		    <img src="/imges/1.png" style="width: 800px; height: 90px;">
		</div>
		
		
		<h3 class="biaoti">未申请寝室</h3>
		<div>
		<div class="col-xs-1 col-md-1"></div>
		<div class="col-xs-3 col-md-3">以下是未申请寝室人员：</div>
		<div class="col-xs-5 col-md-5"></div>
		<div class="col-xs-3 col-md-3" id="a4">
		<button type="button" class="btn btn-primary" @click="dianji()">一键发送邮件</button>
		</div>
		</div>
		<script type="text/javascript">
			var vm=new Vue({
				el: "#a4",
				data:{
				},
				methods:{
					dianji:function(){
						alert("邮件发送成功,已通知未申请寝室人员~~");
					}
				}
			});
		</script>
		<div class="scrollable-table-container">
		<table class="table table-bordered">
		     <tr>
		         <th>姓名</th>
		         <th>学号</th>
				 <th>邮箱</th>
		     </tr>
		     <tr>
		         <td>老王</td>
				 <td>20252656</td>
				 <td>202526563532@qq.com</td>
		     </tr>
		     <tr>
		         <td>张三</td>
		         <td>12345454</td>
				 <td>123454547676@qq.com</td>
		     </tr>
		</table>
		</div>
		<div class="image-center">
		    <img src="/imges/1.png" style="width: 800px; height: 90px;">
		</div>
		
		
		<h3 class="biaoti">请假结果</h3>
		<div>
		<div class="col-xs-1 col-md-1"></div>
		<div class="col-xs-3 col-md-3">以下是各人员请假结果：</div>
		<div class="col-xs-5 col-md-5"></div>
		<div class="col-xs-3 col-md-3" id="a5">
		<button type="button" class="btn btn-primary" @click="dianji()">一键发送邮件</button>
		</div>
		</div>
		<script type="text/javascript">
			var vm=new Vue({
				el: "#a5",
				data:{
				},
				methods:{
					dianji:function(){
						alert("邮件发送成功,已通知请假人员结果~~");
					}
				}
			});
		</script>
		<div class="scrollable-table-container">
		<table class="table table-bordered">
		     <tr>
		         <th>姓名</th>
				 <th>请假结果</th>
		         <th>学号</th>
				 <th>邮箱</th>
		     </tr>
		     <tr>
		         <td>老王</td>
				 <td>通过</td>
				 <td>20252656</td>
				 <td>202526563532@qq.com</td>
		     </tr>
		     <tr>
		         <td>张三</td>
				 <td>未通过</td>
		         <td>12345454</td>
				 <td>123454547676@qq.com</td>
		     </tr>
		</table>
		</div>
		<div class="image-center">
		    <img src="/imges/1.png" style="width: 800px; height: 90px;">
		</div>
		
		
		<h3 class="biaoti">集体邮件通知</h3>
		<div class="col-xs-1 col-md-1"></div>
		<div class="col-xs-3 col-md-3">以下是全体新生人员：</div>
		<div class="col-xs-5 col-md-5"></div>
		<div class="col-xs-3 col-md-3" id="a6">
		    <button type="button" class="btn btn-primary" @click="showModal = true">一键发送邮件</button>  
		    <div v-if="showModal" class="modal">  
		        <div class="modal-content">  
		            <span class="close" @click="showModal = false">&times;</span>  
		            <h4>邮件内容：</h4>  
		            <div class="textarea-container">  
		                <textarea v-model="emailContent" placeholder="请在此输入邮件内容"></textarea>  
		            </div>
					<div id="aa">
		            <button type="button" class="btn btn-secondary" @click="sendEmail">发送</button>  
		            </div>
				</div>  
		    </div>  
		</div>  
		  
		<script type="text/javascript">  
		    var vm = new Vue({  
		        el: "#a6",  
		        data: {  
		            showModal: false,  
		            emailContent: ''  
		        },  
		        methods: {  
		            sendEmail: function() {  
		                if (this.emailContent.trim() !== '') {  
		                    alert("邮件发送成功, 内容：" + this.emailContent);  
		                    this.showModal = false;  
		                    this.emailContent = ''; 
		                } else {  
		                    alert("邮件内容不能为空！");  
		                }  
		            }  
		        }  
		    });  
		</script>  
		<div class="scrollable-table-container">
		  <table class="table table-bordered">  
		    <tr>  
		      <th>姓名</th>  
		      <th>学号</th> 
			  <th>专业</th>
		      <th>邮箱</th>
		    </tr>  
		    <tr>  
		      <td>老王</td>  
		      <td>20252656</td>  
			  <td>计算机</td>
		      <td>202526563532@qq.com</td>  
		    </tr>  
			<tr>
			  <td>老王</td>  
			  <td>20252656</td>  
			  <td>计算机</td>
			  <td>202526563532@qq.com</td>  
			</tr>  
			<tr>
			  <td>老王</td>  
			  <td>20252656</td>  
			  <td>计算机</td>
			  <td>202526563532@qq.com</td>  
			</tr>  
			<tr>
			  <td>老王</td>  
			  <td>20252656</td>  
			  <td>计算机</td>
			  <td>202526563532@qq.com</td>  
			</tr>  
			<tr>
			  <td>老王</td>  
			  <td>20252656</td>  
			  <td>计算机</td>
			  <td>202526563532@qq.com</td>  
			</tr>  
			<tr>
			  <td>老王</td>  
			  <td>20252656</td>  
			  <td>计算机</td>
			  <td>202526563532@qq.com</td>  
			</tr>  
			<tr>
			  <td>老王</td>  
			  <td>20252656</td>  
			  <td>计算机</td>
			  <td>202526563532@qq.com</td>  
			</tr>  
			<tr>
			  <td>老王</td>  
			  <td>20252656</td>  
			  <td>计算机</td>
			  <td>202526563532@qq.com</td>  
			</tr>  
			<tr>
			  <td>老王</td>  
			  <td>20252656</td>  
			  <td>计算机</td>
			  <td>202526563532@qq.com</td>  
			</tr>  
			<tr>
			  <td>老王</td>  
			  <td>20252656</td>  
			  <td>计算机</td>
			  <td>202526563532@qq.com</td>  
			</tr>  
		  </table>  
		</div>
		<div class="image-center">
		    <img src="/imges/2.png" style="width: 1000px; height: 70px;">
		</div>
	</body>
</html>
