<!DOCTYPE html>  
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>请假列表</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
</head>  
  
<body>
<table id="dataGrid" class="display" style=" width:100%">
    <thead>
    <tr>
        <th>请假原因</th>
        <th>请假开始时间</th>
        <th>请假结束时间</th>
        <th>请假审批结果</th>
    </tr>
    </thead>
    <tbody>
    <!-- Rows will be added here by JavaScript -->
    </tbody>
 </table>
<script>
    $(document).ready(function () {
        var table=$('#dataGrid').DataTable({
            language: {
                "lengthMenu": "显示 _MENU_ 条记录",
                "zeroRecords": "没有找到记录",
                "info": "显示第 _START_ 到 _END_ 条记录，总共 _TOTAL_ 条记录",
                "infoEmpty": "没有记录",
                "infoFiltered": "(从 _MAX_ 条记录中筛选)",
                "search": "搜索:",
                "paginate": {
                    "next": "下一页",
                    "previous": "上一页"
                }
            }
        });
        // 使用 AJAX 从后端获取数据
        $.ajax({
            url: 'http://localhost:8080/leave/get', // 替换为实际的 API 地址
            method: 'GET',
            success: function (data) {
                if(data.code==200){
                    table.clear();
                    data.list_leave.forEach(function (item){
                        table.row.add([
                            item.info,
                            item.timestart,
                            item.timeend,
                            item.remark=0?'审批中':(1?'已通过':'未通过')
                        ]).draw();
                    });
                }
            },
        });
    });
</script>
</body>  
</html>