<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>邮件通知</title>
	<!--引入vue-->
	<script src="/js/v2.6.10/vue.js" type="text/javascript" charset="utf-8"></script>>
	<!-- Bootstrap引入一个外部样式文件 -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/jquery@1.10.21/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<style type="text/css">
		#biaoti{
			color: #1aa6ff;
			width: 150px;
			height: 10px;
			margin: 20px auto 50px auto;
			font-weight: bold;
		}
		.image-center {
			text-align: center;
		}
		#dataGrid1 tbody td, #dataGrid1 thead th {
			text-align: center;
		}

		button[id="aaa"] {
			color: #191C24;
			background-color: #80ceff;
		}
		button[id="aaa"]:hover {
			background-color:  #1aa6ff;
			color: #fefefe;
		}
		button[id="aaa"]:active {
			background-color: #1aa6ff;
		}

		.dataTables_wrapper {
			font-size: 15px; /* 你可以根据需要调整这个值 */
		}

		/* 修改表头（thead）的字体大小 */
		.dataTables_wrapper th {
			font-size: 16px;
		}
	</style>

</head>

<body>


<h3 id="biaoti">信息不全人员</h3>

<table id="dataGrid1" class="display" style="width:100%">
	<thead>
	<tr>
		<th>学号</th>
		<th>身份证号</th>
		<th>姓名</th>
		<th>账号密码</th>
		<th>班级</th>
		<th>性别</th>
		<th>电话号码</th>
		<th>qq号</th>
		<th>个人照片</th>
		<th>家庭住址</th>
		<th>寝室号</th>
		<th>操作</th>

	</tr>
	</thead>
	<tbody>
	<!-- Rows will be added here by JavaScript -->
	</tbody>
</table>


<script>
	$(document).ready(function () {
		// 初始化 DataTable 实例
		var table = $('#dataGrid1').DataTable({
			language: {
				"lengthMenu": "显示 _MENU_ 条记录",
				"zeroRecords": "没有找到记录",
				"info": "显示第 _START_ 到 _END_ 条记录，总共 _TOTAL_ 条记录",
				"infoEmpty": "没有记录",
				"infoFiltered": "(从 _MAX_ 条记录中筛选)",
				"search": "搜索:",
				"paginate": {
					"next": "下一页",
					"previous": "上一页"
				}
			}
		});

		// 使用 AJAX 从后端获取数据
		$.ajax({
			url: 'http://localhost:8080/student/no_complete_info', // 替换为实际的 API 地址
			method: 'GET',
			success: function (data) {
				console.log(data);
				if(data.code==200){
					data.list.forEach(function (student){
						var buttonHtml = `<button id="aaa" class="apply-button" data-student-id="${student.qq}">发送邮件</button>`;
						if(student.photo==null||student.mobile==null||student.address==null||student.dormitid==null) {
							table.row.add([
								student.id,
								student.sn,
								student.username,
								student.password,
								student.clazzid,
								student.sex,
								student.mobile,
								student.qq,
								student.photo ? '已提供': '',
								student.address,
								student.dormitid,
								buttonHtml
							]).draw();
						}
					});

					// 为申请按钮添加事件
					$('.apply-button').click(function () {
						// 从按钮元素中获取宿舍信息
						var data1 = {
							qq: $(this).data('student-id'), // 获取楼栋信息
						}
						// AJAX 请求以提交申请
						$.ajax({
							url: 'http://localhost:8080/email/info_lost', // 替换为实际的申请 API 地址
							method: 'POST',
							data: data1,
							success: function (response) {
								if (response.code == 200) {
									alert('申请成功！');
									location.reload(); // 刷新页面
								} else {
									alert('申请失败: ' + response.message);
								}
							},
							error: function (xhr, status, error) {
								console.error('AJAX Error:', status, error);
								alert('请求失败，请稍后再试。');
							}
						});
					});
				}
			},
			error: function (xhr, status, error) {
				console.error('AJAX Error:', status, error);
			}
		});
	});
</script>

<div class="image-center">
	<img src="/imges/1.png" style="width: 1200px; height: 135px;">
</div>
</body>
</html>
